/* assets/css/main.css */
@font-face {
    font-family: 'Magnolia Script';
    /* Make sure the path and filename match what you have */
    src: url('../fonts/MagnoliaScript.woff') format('woff');
    src: url('../fonts/MagnoliaScript.woff2') format('woff2');
    src: url('../fonts/MagnoliaScript.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #fbf8ec;
    color: #333;
}

.script-font {
    font-family: 'Magnolia Script', cursive;
}

.serif-font {
    font-family: 'Cormorant Garamond', serif;
}

/* This is the image panel on the right */
.hero-image-panel {
    background-image: url('../images/background/family-party.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 60vh;
}

/* This is the content panel on the left */
.hero-content-panel {
    background-color: #fbf8ec; /* The main background color */
    /*min-height: 100vh;*/
}

@media (min-width: 768px) {
    /* Corresponds to Tailwind's 'md' breakpoint */
    .hero-image-panel {
        background-size: cover;
        min-height: calc(100vh - 80px);
        /*min-height: 100vh;*/
    }
    .hero-content-panel {
        /*min-height: 100vh;*/
        min-height: calc(100vh - 80px);
    }

    .hero-section {
        transform: translateX(-5%)
    }
}

.countdown-item {
    position: relative;
}

.countdown-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 1px;
    background-color: rgba(108, 88, 76, 0.3);
}

.floral-divider {
    position: relative;
    height: 30px;
    margin: 20px 0;
}

.floral-divider::before {
    content: '❦';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #6c584c;
}

.floral-divider::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(108, 88, 76, 0.3);
    z-index: -1;
}

.rsvp-button {
    transition: all 0.3s ease;
}

.rsvp-button:hover {
    background-color: #c4a77d;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avenir-font {
    font-family: 'Cormorant Garamond', serif;
}
